{{ template "classic/pages/layout" . }}

{{ define "script"}}
<script type="module" src="{{ vite_asset "src/vanilla/pages/topic.ts"}}"></script>
{{ end }}

{{ define "content" }}
<section>
    <div class="mb-4 h-7 flex items-center justify-between flex-wrap leading-none">
        <a href="/classic" class="font-medium hover:underline underline-offset-4">&larr; Back to topics</a>
        <p class="text-zinc-300 text-sm">{{ .Layout.User.Email }}</p>
    </div>
    
    <div class="max-w-3xl mx-auto bg-zinc-800 borders border-zinc-700 rounded-xl p-4">
        <form id="topic-delete-form" method="post" action="/classic/{{.Topic.Id}}/delete"></form>
        <div id="form-container" class="grid">
            <form id="topic-form" method="post" action="/classic/{{.Topic.Id}}" class="flex items-start gap-1">
                <input name="topic" required type="text" placeholder="Enter topic..." value="{{ .Topic.Title }}" class="flex-1 px-2 h-12 focus:outline-none text-lg font-medium">
                <button id="delete-topic-trigger" form="topic-delete-form" class="p-1 mt-2 rounded-full text-zinc-400 hover:text-zinc-100 transition-colors">
                    {{ template "components/icons/trash" map "class" "size-5 stroke-1" }}
                </button>
            </form>
            <div>
                <form method="post" action="/classic/{{.Topic.Id}}/todos" class="flex items-center gap-1 text-sm text-zinc-400 border-b border-transparent focus-within:border-zinc-700 transition-colors">
                    <label for="new-todo-input">
                        {{ template "components/icons/plus" map "class" "size-5 stroke-2" }}
                    </label>
                    <input name="todo" type="text" {{if not .LastUpdatedId}}autofocus{{end}} placeholder="New todo item" class="flex-1 px-2 h-10 focus:outline-none">
                </form>
                <div>
                    {{- range .PendingTodos -}}
                    <form method="post" action="/classic/{{.TopicId}}/todos/{{.Id}}">
                        {{ template "components/todo-item" map "value" .Body "checked" .Done "autofocus" (eq $.LastUpdatedId .Id) "deleteAction" (printf "/classic/%d/todos/%d/delete" .TopicId .Id) }}
                    </form>
                    {{- end -}}
                </div>
                <div label="Completed todos" class="mt-4 pt-4 border-t border-zinc-700 not-empty:before:content-[attr(label)] before:text-zinc-500 before:text-xs before:block before:pb-2">
                    {{- range .CompletedTodos }}
                    <form method="post" action="/classic/{{.TopicId}}/todos/{{.Id}}">
                        {{ template "components/todo-item" map "value" .Body "checked" .Done "autofocus" (eq $.LastUpdatedId .Id) "deleteAction" (printf "/classic/%d/todos/%d/delete" .TopicId .Id) }}
                    </form>
                    {{ end -}}
                </div>
            </div>
            <div class="flex items-center justify-between mt-2">
                <p class="text-xs text-zinc-400">{{ len .CompletedTodos }} / {{ len .Todos }} completed</p>
                <button form="topic-form" disabled class="flex items-center justify-center gap-1 bg-sky-200 text-zinc-800 disabled:bg-sky-200/50 h-9 px-4 text-xs font-medium rounded-xl">
                    Save Changes
                </button>
            </div>
        </div>
    </div>
</section>
{{ end }}