<div class="flex gap-1 border p-3 rounded-lg
{{ if eq .type "warning"}}
bg-yellow-100 text-yellow-600 border-yellow-400
{{ else if eq .type "error" }}
bg-red-100 text-red-500 border-red-300
{{ else if eq .type "success" }}
bg-teal-100 text-teal-600 border-teal-400
{{ else }}
bg-zinc-100 text-zinc-600 border-zinc-400
{{ end }}">
    {{ template "components/icons/info-circled" map "class" "size-4 shrink-0" }}
    <p class="flex-1 text-xs">{{ .message }}</p>
    <button class="shrink-0" type="button" onclick="this.parentElement.remove()">
        {{ template "components/icons/x" map "class" "size-4" }}
    </button>
</div>